 <h1 class="text-centertitle mb-4"></h1>
<div class="container ">

  <div class="row">
    <% @passports.each do |passport| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h4 class="card-title"><%= passport.title %></h4>
            <a href="<%= passport_path(passport) %>" class="btn btn-primary">Show More</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-4">
    <a href="<%= new_passport_path %>" class="btn btn-success">Create New Passport</a>
  </div>
</div>


<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
