<h1>Bookings</h1>
<% @bookings.each do |booking| %>
<div class="card">
  <div class="card-content">
    <p>Email: <%= booking.user.email %></p>
    <p>Title: <%= booking.passport.title %></p>
    <p>Start Date: <%= booking.start_date %></p>
    <p>End Date: <%= booking.end_date %></p>

    <% if booking.status == "pending" %>
      <%= button_to "Approve", approve_passport_booking_path(passport_id: booking.passport.id, id: booking.id), method: :patch, remote: true, class: "btn btn-success" %>
      <%= button_to "Reject", reject_passport_booking_path(passport_id: booking.passport.id, id: booking.id), method: :patch, remote: true, class: "btn btn-danger" %>
    <% else %>
      <span class="badge" <%= booking.status == 'approved' ? 'badge-success' : 'badge-danger' %>>
        <%= booking.status %>
      </span>
    <% end %>
  </div>
</div>
<% end %>
