<h1>Make a Booking now!</h1>

<%= simple_form_for @booking do |f| %>
  <div>
    <%= f.input :status, collection: ['pending', 'confirmed', 'cancelled'], prompt: 'Select Status' %>
  </div>

  <div>
    <%= f.input :start_date, as: :date %>
  </div>

  <div>
    <%= f.input :end_date, as: :date %>
  </div>

  <div>
    <%= f.button :submit, 'Create Booking' %>
  </div>
<% end %>

<h2>delete a booking</h2>
<%= link_to 'Delete Booking', passport_booking_path(@passport, booking), method: :delete, data: { confirm: 'Are you sure you want to delete this booking?' } %>
