<%# <%=@booking.status%>
<div class="ncontainer">
<div class="nice">
<%# <%= @booking.passport_id %>
<%=@booking.user.email %>
<h2>Has Booked The</h2>
<%=  @booking.passport.title%>
<%= @booking.start_date %>
<%= @booking.end_date %>
<% @passport.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 250, crop: :fill %>
<% end %>


</div>
</div>
