
<h1>Show page</h1>
<div class="container">
  <%=@booking.status%>
  <div class="nice">
    <%=@booking.user.email %>
    <%= @booking.passport_id %>
    <%= @booking.start_date %>
    <%= @booking.end_date %>
  </div>
</div>
